body {
  color: black; // TODO: use color-scheme
}

header {
  a {
    color: var(--priest_blue);
  }
}

footer {
  background: var(--brilliance);
  box-shadow: 0 0 0 100vmax var(--brilliance);
  clip-path: inset(0 -100vmax);
}

form {
  accent-color: var(--priest_blue);
}
