header {
  max-width: var(--measure);
  margin-inline: auto;
}

main {
  display: flex;
  flex-direction: column;
  max-width: var(--measure);
  margin-inline: auto;
  gap: 1rem;

  /*
this breaks things as it adjusts the size of the svg box which is bad
   > * {
    flex: 1 1 20rem;
  } */

  /*
  this is kinda the default but does the thing
  > * {
    width: 100%;
    height: 100%;
  } */

  svg {
    background-color: papayawhip; // TODO: use color-scheme
  }
}

footer {
  max-width: var(--measure);
  margin-inline: auto;
  margin-block-start: 3rem;
  padding-block: 1.5rem;

  ul {
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    gap: 1rem;
  }
}
