// to use the patterns these have to be by classes
/* svg {
  fill: blue; // TODO: use color-scheme
}

svg rect:nth-child(odd) {
  fill: red;
}

svg rect:nth-child(3n + 3) {
  fill: green;
} */

// i dont think flex as thats never really going to want to push rows?
.svg-grid {
  display: grid;
  border: 1px solid black;
  max-width: 40rem;
  margin-inline: auto;
}

.svg-flex svg:nth-child(even) {
  fill: red;
}

.svg-flex {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid black;
  max-width: 10rem;
  margin-inline: auto;

  > * {
    flex: 0 0 10rem;
  }
}

.svg-flex svg:nth-child(even) {
  fill: red;
}

// https://clrs.cc/
.clrs {
  rect:first-child {
    fill: #001f3f;
  }

  rect:nth-child(2) {
    fill: #0074d9;
  }

  rect:nth-child(3) {
    fill: #7fdbff;
  }

  rect:nth-child(4) {
    fill: #39cccc;
  }

  rect:nth-child(5) {
    fill: #3d9970;
  }

  rect:nth-child(6) {
    fill: #2ecc40;
  }

  rect:nth-child(7) {
    fill: #ffdc00;
  }

  rect:nth-child(8) {
    fill: #ff851b;
  }

  rect:nth-child(9) {
    fill: #ff4136;
  }

  rect:nth-child(10) {
    fill: #b10dc9;
  }

  rect:nth-child(11) {
    fill: #85144b;
  }
}
