// to use the patterns these have to be by classes
/* svg {
  fill: blue; // TODO: use color-scheme
}

svg rect:nth-child(odd) {
  fill: red;
}

svg rect:nth-child(3n + 3) {
  fill: green;
} */

// i dont think flex as thats never really going to want to push rows?
.svg-grid {
  display: grid;
  border: 1px solid black;
  max-width: 40rem;
  margin-inline: auto;
}

.svg-flex svg:nth-child(even) {
  fill: red;
}

.svg-flex {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid black;
  max-width: 10rem;
  margin-inline: auto;

  > * {
    flex: 0 0 10rem;
  }
}

.svg-flex svg:nth-child(even) {
  fill: red;
}

.random-color rect {
  fill: reset;
}

.random-color rect:nth-child(odd) {
  fill: reset;
}

.random-color rect:nth-child(3n + 3) {
  fill: reset;
}
