:root {
  --priest_blue: hsl(195.8, 72.6%, 42.9%); // #1e93bd
  --priest_blue: hsl(195, 75%, 37.5%); // #updated to a louie color

  --priest_blue__base: 195, 75%;

  --black-metal: hsl(0, 0%, 2.5%);
  --black-out: hsl(0, 0%, 12.5%);
  --raven-black: hsl(0, 0%, 25%);
  --industrial-revolution: hsl(0, 0%, 37.5%);
  --grey: hsl(0, 0%, 50%);
  --cold-grey: hsl(0, 0%, 62.5%);
  --tin-soldier: hsl(0, 0%, 75%);
  --kingly-cloud: hsl(0, 0%, 87.5%);

  // TODO: this one feels like it needs a half step
  // --something: hsl(0, 0%, 92.5%);

  --brilliance: hsl(0, 0%, 97.5%);

  --pitch: 2.5%;
  --dark: 12.5%;
  --dull: 25%;
  --dim: 37.5%;
  --mid: 50%;
  --glow: 62.5%;
  --light: 75%;
  --bright: 87.5%;
  --brilliant: 97.5%;

  /* used like this */
  // color: hsl(var(--color__base), var(--dark));

  --measure: 40rem;

  --baseline: 1.5rem;
}
