/*------------------*/
//  #VISIBILITY
/*------------------*/

.sr-only {
  width: 0;
  height: 0;
  overflow: hidden;
}

.hidden {
  @extend .sr-only;
}

.above-stork {
  @media (min-width: $stork) {
    display: none;
  }
}

.below-stork {
  @media (max-width: $stork) {
    display: inital;
  }
}

/*------------------*/
//  #HEADER
/*------------------*/

.before-scroll {
}

.after-scroll {
}

.cs-tall-icon {
}

@media (min-width: $stork) {
  .cs-wide-icon {
    position: fixed; // becomes this on scroll
    top: 1px;
    background: white; // this would be prettier slightly blue
    box-shadow: 0 0 0 100vmax white;
    clip-path: inset(0 -100vmax);
    opacity: 0.9;
    margin-block-start: 0;
    padding-block: 0.5rem;
    z-index: 3;
    // filter: blur(4px); // I want this to blur underneath not the logo
  }
}

header.in-view {
  .cs-wide-icon {
    display: none;
  }
}

header.out-view {
  .cs-tall-icon {
    display: none;
  }
}
